html {
  background: #191919;
  width: 100vw;
}

body {
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

div#body_wrapper {
  overflow: hidden;
}

div#main_wrapper {
  height: 100vh;
}

div.main {
  margin: 0;
  border: 0;
  padding: 0;
}

img#self {
  float: right;
  height: 99vh;
}

h1.main {
  margin: 0 ;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
  font-size: 8vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  opacity: 0.8;
  text-shadow: #000000 5px 5px 5px;
}

h2 {
  font-size: 6vh;
  margin: 1vh;
  font-family: Arial, Helvetica, sans-serif;
}

div.main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}

div.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

img.icons {
  height: 10vh;
}

div.sections {
  height: 98vh;
  width: 100vw;
  display:inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.section_wrapper {
  display:inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgba(0,0,0,0.8);
  height: 50vh;
  align-items: center;
}

div.section_right {
  width: 40vh;
  margin: 3vh;
  padding: 0;
}

div.heading {
  background: #FFFFFF;
  width: 100vw;
  overflow: hidden;
  max-height: 10vh;
  text-align: center;
  padding-top: 3vh;
}

div.footer {
  background: #191919;
  width: 90vw;
  margin: 0 auto;
  padding: 2vh;
}

p {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3vh;
  text-align: left;
}

a {
  color: #ff0000;
}

span.text {
  background: rgba(0,0,0,0.8);
}

div#automotive {
  background-image: url("automotive/motor-768750_1920.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;
}

div#renovations {
  background-image: url("renovations/50921735_10216836962614583_8557929410538242048_n.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;
}

div#ems {
  background-image: url("ems/ecg-4281207_1920.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;
}

div#engineering {
  background-image: url("engineering/keypeg.png");
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;
}

div#programming {
  background-image: url("programming/coding-926242_1920.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;
}

img#github {
  width: 30vh;
  border: solid 0.5vh #3485fd;
  border-radius: 1vh;
}

img#github:hover {
  border: inset #3485fd;
}

div#art {
  background-image: url("art/pens-1867899_1920.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;
}

div#photography {
  background-image: url("photography/mountains_x2_by_dc4894-d6bcknm.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-origin: content-box;
}


.swiper {
  width: 50vh;
  height: auto;
  margin: 3vh;
  float: left;
  max-height: 40vh;
}

.swiper-wrapper {
  max-height: 40vh;
  text-align: center;
  align-items: center;
}

.swiper-slide img {
  max-width: 50vh;
  max-height: 40vh;
}

@media screen and (max-width: 600px) {
  div.section_wrapper {
    height: 70vh;
  }

  p {
    text-align: center;
  }
}