html {
  background: #191919;
}

div.main {
  margin: 0;
  border: 0;
  padding: 0;
}

img#self {
  float: right;
  height: 99vh;
}

h1.main {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
  font-size: 8vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  opacity: 0.8;
  text-shadow: #000000 5px 5px 5px;
}

div.main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}

div.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

img.icons {
  height: 10vh;
}

