html {
  background: #191919;
  width: 100vw;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

div#main_wrapper {
  height: 100vh;
}

div.main {
  margin: 0;
  border: 0;
  padding: 0;
}

img#self {
  float: right;
  height: 99vh;
}

h1.main {
  margin: 0 ;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
  font-size: 8vw;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  opacity: 0.8;
  text-shadow: #000000 5px 5px 5px;
}

h2 {
  font-size: 6vh;
  margin: 1vh;
}

div.main {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}

div.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

img.icons {
  height: 10vh;
}

div.sections {
  height: 98vh;
  display:inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.section_right {
  width: 40vh;
  margin: 3vh;
  padding: 0;
}

div.heading {
  background: #FFFFFF;
  width: 100vw;
  overflow: hidden;
  max-height: 10vh;
  text-align: center;
}

div.footer {
  background: #191919;
  width: 98vw;
  margin: 0 auto;
  padding: 2vh;
}

p {
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}



.swiper {
  width: 40vh;
  height: auto;
  margin: 3vh;
  float: left;
}

.swiper-wrapper {
}

.swiper-slide img {
  max-width: 40vh;
  max-height: 40vh;
}